
.property-container {
    display: grid;
    grid-template-areas:
      'topnav topnav topnav'
      'main main main';
    grid-template-columns: 1fr 3fr; /* Adjust the ratio between sidebar and main content */
    grid-template-rows: auto 1fr;
    height: calc(100vh - 70px);
  }
  .property-container-topnav{
    grid-area: topnav;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--background-color); /* Background color of the navigation bar */
    border: .6rem;
    color: var(--navTextColor); /* Text color */
  }
  .property-container-tabs {
    display: flex;
    align-items: center;
    padding: .5rem; 
  }
  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
    flex: 1; /* Makes the search bar expand to take available space */
  }
  
  .search-bar input[type="text"] {
    flex: 1; /* Makes the input field take remaining space */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-bar input[type="text"]:focus {
    outline: none;
    border-color: #007bff; /* Adjust focus color as needed */
  }
  .search-bar .fa-search {
    position: absolute;
    right: 6px;
    margin-left: 5px; /* Adjust margin as needed */
    color: #555; /* Adjust icon color as needed */
  }
  .property-container-tabs button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; /* Adjust button background color as needed */
    color: #fff; /* Adjust button text color as needed */
    margin-right: 10px; /* Adjust margin between buttons as needed */
  }
  .property-container-tabs button:last-child {
    margin-right: 0; /* Remove margin from the last button */
  }
  
  .property-container-tabs button:hover {
    background-color: #0056b3; /* Adjust hover background color as needed */
  }
  
  .property-container-main {
    position: relative;
    grid-area: main;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--background-color);  /*Background color of the navigation bar */
    color: var(--navTextColor);
    font-family: 'Montserrat';
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .field-grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }

  .field-box {
      display: flex;
      flex-direction: column;
      gap: 2px;
  }
  .field-label {
    text-transform: capitalize;
    align-self: flex-start; /* Align label with start of input field */
  }
  .field-input {
    padding: 4px;
  }
  .action Button:nth-child(2){
    margin-left: 10px;
  }
 .properties_table{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
 }
  /*Room form css*/
  .add_room_container {
    width: 570px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #566874;
    color: var(--navTextColor);
    z-index: 1000;
  }
 .topNavigator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
 }
 .topNavigator p{
  margin-bottom: 2px;
}
 .topNavigator p:nth-child(3){
    color: #0aec61;
  }
  .add_room_form{
    padding: 20px;
  } 
  .add_room_form input[type="number"],
  .add_room_form input[type="text"] {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .add_room_form input[type="number"]::placeholder,
  .add_room_form input[type="text"]::placeholder {
    color: var(--navTextColor); /* Change placeholder color to gray */
  }

  .add_room_form input[type="submit"],
  .add_room_form button
  {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }
  .add_room_form div .row {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 24px;
  }
  
  .add_room_form div .row label {
    flex-basis: 35%; /* Set label width to 20% */
    font-size: 18px;
    color: #fff;
  }
  
  .add_room_form div .row input {
    flex-grow: 1; /* Make input fill remaining space */
    padding: 8px 16px;
    border: 2px solid var(--navTextColor);
  }
  .add_room_form .closeBtn {
    margin-left: 32px;
  }
/* Styling for select options */
  .roomCategory{
    flex-grow: 1; /* Make input fill remaining space */
    padding: 8px 14px;
    background: transparent;
    border: 2px solid var(--navTextColor);
    border-radius: 5px;
    color: var(--navTextColor);
    transition: border-color 0.3s;
  }
.roomCategory option {
  background-color: #fff;
  color: #555;
  font-size: 16px;
  margin-bottom: 4px;
  cursor: pointer;
}

/* Styling for selected option */
.roomCategory option:checked {
  background-color: #f0f0f0; /* Change background color when selected */
}

/* Animation when option is selected */
.roomCategory option:checked {
  animation: selectAnimation 0.5s ease-in-out;
}

/* Keyframes for animation */
@keyframes selectAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05); /* Scale up when selected */
  }
}



