.tenant-container {
    display: grid;
    grid-template-areas:
      'topnav topnav topnav'
      'main main main';
    grid-template-columns: 1fr 3fr; /* Adjust the ratio between sidebar and main content */
    grid-template-rows: auto 1fr;
    height: calc(100vh - 70px);
  }
  .tenant-container-topnav{
    grid-area: topnav;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--background-color); /* Background color of the navigation bar */
    border: .6rem;
    color: var(--navTextColor); /* Text color */
  }
  .tenant-container-tabs {
    display: flex;
    align-items: center;
    padding: .5rem; 
  }
  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
    flex: 1; /* Makes the search bar expand to take available space */
  }
  
  .search-bar input[type="text"] {
    flex: 1; /* Makes the input field take remaining space */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-bar input[type="text"]:focus {
    outline: none;
    border-color: #007bff; /* Adjust focus color as needed */
  }
  .search-bar .fa-search {
    position: absolute;
    right: 6px;
    margin-left: 5px; /* Adjust margin as needed */
    color: #555; /* Adjust icon color as needed */
  }
  .tenant-container-tabs button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; /* Adjust button background color as needed */
    color: #fff; /* Adjust button text color as needed */
    margin-right: 10px; /* Adjust margin between buttons as needed */
  }
  
  .tenant-container-tabs button:last-child {
    margin-right: 0; /* Remove margin from the last button */
  }
  
  .tenant-container-tabs button:hover {
    background-color: #0056b3; /* Adjust hover background color as needed */
  }
  
  .tenant-container-main {
    grid-area: main;
    padding: 8px;
    background-color: var(--background-color); /* Background color of the navigation bar */
  }
  .form {
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--navTextColor);
  }
  .field{
    padding: 0 4px;
  }
  .form-fields{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 10px), 1fr)); /* Ensure four fields in one row with margin between */
    gap: 10px; /* Adjust margin between fields */
    padding: 4px;
  }
  .form-fields1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(18% - 10px), 1fr)); /* Ensure four fields in one row with margin between */
    gap: 10px; /* Adjust margin between fields */
    padding: 4px;
  }
  .form-fields2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(13% - 10px), 1fr)); /* Ensure four fields in one row with margin between */
    gap: 10px; /* Adjust margin between fields */
    padding: 4px;
  }
  .form button{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; /* Adjust button background color as needed */
    color: #fff; /* Adjust button text color as needed */
    margin-right: 10px; /* Adjust margin between buttons as needed */
  }
  .tenant-form-h4{
    color: var(--navTextColor);
    font-size: 12px;
    font-family: 'Montserrat';
  }
 